@font-face {
    font-family: cursedtimer;
    src: url("/fonts/cursedtimer.ttf");
}

@font-face {
    font-family: deadstock;
    src: url("/fonts/deadstockl.ttf");
}

body {
    margin: 0px
    
}

h3 {
    font-family: deadstock;
    font-weight: bold;
    font-size: 60px;
    color: silver;
    text-shadow: rgba(212, 0, 120, 0.4) 5px 5px, rgba(246, 1, 157, 0.3) 10px 10px, rgba(146, 0, 117, 0.2) 15px 15px, rgba(101, 13, 137, 0.1) 20px 20px, rgba(2, 55, 136, 0.05) 25px 25px;
    text-align: center;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 575px;
    height: 575px;
    background-image: url("images/synthwave.png");
    text-align: center;
}

#homebox {
    position: absolute;
    width: 155px;
    height: 120px;
    left: 82px;
    top: 125px;
    background-color: black;
    border-radius: 20px;
    box-shadow: rgba(212, 0, 120, 0.4) 5px 5px, rgba(246, 1, 157, 0.3) 10px 10px, rgba(146, 0, 117, 0.2) 15px 15px, rgba(101, 13, 137, 0.1) 20px 20px, rgba(2, 55, 136, 0.05) 25px 25px;

}

#guestbox {
    position: absolute;
    width: 155px;
    height: 120px;
    left: 337px;
    top: 125px;
    background-color: black;
    border-radius: 20px;
    box-shadow: rgba(212, 0, 120, 0.4) 5px 5px, rgba(246, 1, 157, 0.3) 10px 10px, rgba(146, 0, 117, 0.2) 15px 15px, rgba(101, 13, 137, 0.1) 20px 20px, rgba(2, 55, 136, 0.05) 25px 25px;
}

#home_title {
    position: absolute;
    width: 149px;
    height: 36px;
    left: 70px;
    top: -21px;
    
}

#guest_title {
    position: absolute;
    width: 149px;
    height: 36px;
    left: 325px;
    top: -21px;
    
}

#home_score {
    position: absolute;
    width: 117px;
    height: 120px;
    left: 100px;
    top: 130px;

    font-family: cursedtimer;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
}

#guest_score {
    position: absolute;
    width: 117px;
    height: 120px;
    left: 355px;
    top: 130px;

    font-family: 'cursedtimer';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
}

#btnhome {
    position: absolute;
    width: 209px;
    height: 45px;
    left: 55px;
    top: 271px;
    text-align: center;
}

#btnguest {
    position: absolute;
    width: 209px;
    height: 45px;
    left: 309px;
    top: 271px;
    text-align: center;
}

.btn {
    font-family: cursedtimer;
    background-color: transparent;
    border: 2px solid rgb(126, 167, 206);
    color: rgb(126, 167, 206);
    border-radius: 10px;
    height: 45px;
    width: 45px;
}

.extrabtn {
    border-radius: 20px;
}

#newgame {
    font-family: deadstock;
    position: absolute;
    background-color: white;
    color: silver;
    text-shadow: 2px 2px 0px black;
    width: 260px;
    height: 50px;
    left: 158px;
    top: 337px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    border: 4px solid rgb(146, 0, 117);
    border-radius: 10px;
    
}

#fouls {
    position: absolute;
    background-color: white;
    color: #F94F6D;
    width: 155px;
    height: 45px;
    left: 337px;
    top: 342px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}